body {
    background: linear-gradient(to left bottom,lightblue,pink);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cont {
    width: 300px;
    height: 190px;
    background-color: lightgray;
    box-shadow: 0 2px 30px #000;
    border-radius: 30px;
    padding: 20px;
    padding-top: 4px;
    cursor: pointer;
    text-align: center;
}

.cont:hover {
    background-color: blue;
}

.heading {
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
    margin-top: 10px;
}

h4 {
    margin: 0;
}

h4:hover {
    color: #fff;
}

.emoji {
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.text {
    font-size: 22px;
    color: rgb(32,7,7);
    font-family: monospace;
    align-self: center;
    text-align: center;
}

.box-wrap {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    top: 20px;
    align-self: center;
    display: inline-block;
}

.box-wrap:hover {
    background-color: rgb(124,160,124);
    box-shadow: 0 1px 20px burlywood;
}

.text:hover {
    color: #fff;
}
